NEXT_PUBLIC_API_URL=http://localhost:4000/api
# NEXT_PUBLIC_API_URL=https://online-delivery-system.onrender.com/api
NEXT_PUBLIC_WS_BASE_URL=ws://localhost:4000
# NEXT_PUBLIC_WS_BASE_URL=ws://online-delivery-system.onrender.com
NEXT_PUBLIC_ORDERS_CLOSED=false
NEXT_PUBLIC_DELIVERY_CHARGE=9